.auth-page {
  .auth-left-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .form-login{
    float: none;
    margin: 0 auto;
  }
  .card{
    border: 1px solid greenyellow;
  }
}
